# Wallet for User
PRIVATE_KEY=
USER_ADDRESS=

# Wallet for Vault
VAULT_PRIVATE_KEY=
VAULT_ADDRESS=

# APIS
ETHERSCAN_API_KEY=
INFURA_API_KEY=

# RPCs
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/
BASE_RPC_URL=https://mainnet.base.org
BSC_RPC_URL=https://bsc-dataseed1.binance.org/
AVALANCHE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
